---
import Contacts from "./Contacts.astro";
import { getEntry } from "astro:content";

const settings = await getEntry("settings", "settings");
---

<nav>
    {
        settings.data.header.map((m) => (
            <>
                {!m.link && <span id={m.id}>{m.title}</span>}
                {m.link && (
                    <a href={m.link} id={m.id}>
                        <span>{m.title}</span>
                    </a>
                )}
            </>
        ))
    }
    <Contacts />
</nav>
<style lang="scss">
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: bold;
        cursor: pointer;
        > * {
            font-size: clamp(2rem, 10vw, 4rem);
            transition: text-shadow 0.4s;
            &:hover {
                text-shadow:
                    0 0 10px var(--bg3),
                    0 0 10px var(--bg3);
            }
        }
        @media (max-width: 64rem) {
            padding: var(--padding) 0;
        }
    }
</style>
