---
import "@/styles/global.scss";
import "@/scripts/marked";
import Bg from "@/components/Bg.astro";
import RightPanel from "@/components/RightPanel.astro";
import LeftPanel from "@/components/LeftPanel.astro";
import { ClientRouter } from "astro:transitions";
import { getEntry } from "astro:content";

const { title, page } = Astro.props;
const settings = await getEntry("settings", "settings");
---

<script src="@/scripts/main.js"></script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>

		<title>{`${settings.data.title} ${title ? " — " + title : ""}`}</title>
		<meta name="description" content={settings.data.shortDescription} />

		<link
			rel="icon"
			type="image/png"
			href="/favicon-96x96.png"
			sizes="96x96"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Open Graph Meta Tags -->
		<meta property="og:image" content={settings.data.image} />
		<!-- <meta property="og:type" content="website" /> -->

		<script
			src="https://cdn.counter.dev/script.js"
			data-id="1cf8f616-153a-4ef0-938e-73df9fb0ac7b"
			data-utcoffset="1"></script>

		<ClientRouter />
	</head>
	<body transition:animate="none">
		<Bg />
		<main>
			<LeftPanel {page} />
			<RightPanel {page}>
				<slot />
			</RightPanel>
		</main>
	</body>
</html>
